*, html {
  margin:0;
  padding:0;
  font-family: 'Inter', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

nav {
  height: 90px;
  width: 100%;
}

nav > img {
  position: absolute;
  margin: auto;
  padding-top: 4;
}

.nav-div {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul > ul {
  height: 80px;
  display: flex;
  align-items: center;
  list-style: none; 
}

.nav-link {
  padding-left: 20px; 
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}

.nav-link:hover {
  color: rgb(0, 194, 0);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.shop-div {
  height: 30px;
  margin-right: 20px;
  justify-content: flex-end;
  z-index: 10;
}

.shop-div > button {
  padding: 5 10 5 10;
  border: none;
  border-radius: 9999rem;
}

.shop-div > button:hover {
  cursor: pointer;
  background-color: rgb(0, 100, 0);
  color: white;
}

.title-container {
  background-color: rgb(223, 113, 113);
  height: 160px;
  width: 100%;
  overflow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 40;
  font-family: 'Rubik Dirt', cursive;
}

.x1 {
  flex: 1;
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
}

.flex.container {
  background-image: linear-gradient(to top, #fd73fbd5, #7aff52d5), 
    url(/images/burger-img.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  color: #FFFFFF;
}

.container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 20px;
}

.container2 {
  background-color: green;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.container3 {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.headshots {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}

.statement2 {
  color: white;
  text-align: center;
}

.img-spacing {
  margin-top: 100px;
}

.future {
  font-size: 2em;
  background: -webkit-linear-gradient(rgb(223, 113, 113), rgb(54, 179, 20));
  background-clip: rgb(223, 113, 113);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statement {
  color: rgb(16, 110, 0);
  margin-right: 20px;
}

.c1 {
  flex: 1;
  align-items: center;
}

.c1 > h3 {
  padding: 20px;
  font-size: 24px;
}

.foods {
  flex: 1;
  flex-wrap: wrap;
  max-width: 860px;
}

.food {
  max-width: 300px;
  color: purple;
}

.foods-border {
  border: solid gray 1px;
  border-radius: 5px;
  margin: 5px 10px;
  min-width: 400px;
  max-width: 500px;
  justify-content: space-between;
}

.food-container {
  min-width: 100px;
  max-width: 300px;
  padding: 20px;
}

.food-title {
  color: green;
}

.food-name {
  color: purple;
}

.price {
  margin-top: 20px;
}

footer {
  margin-top: auto;
}

.footer {
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background: white;
}

.socials {
  padding: 20px;
}

.locations {
  justify-content: space-around;
}

.location {
  color: rgb(223, 113, 113);
  text-align: center;
  margin: 20px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-left: 20px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 95px;
    gap: 0;
    height:100%;
    flex-direction: column;
    width:100%;
    text-align: center;
    transition: 0.5s;
  }

  .nav-item {
    margin: 15px 0;
  }

  .nav-link {
    color: white;
  }

  .nav-menu.active {
    left: -11;
    height:0px;
    width: 140px;
    background-color: rgb(223, 113, 113);
    z-index: 10;
  }

  .footer {
    justify-content: center;
    flex-direction: column;
  }

  .locations {
    flex-direction: column;
  }

  .title {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 870px) {
  .foods {
    justify-content: center;
  } 
  
}